// ===COLORS===
// Base Colors
$bk_primary: #333;
$bk_secondary: #888;
$bg_primary: #ffffff;
$bg_secondary: #f5f9ff;
$bg_black: #333;
$wh: #fff;
// MainColors
$primary: #1346eb;
$secondary: #ee7614;
// UniqueColors