// ===COLORS===
// Base Colors
$bk_primary: #043737;
$bk_secondary: #888;
$bg_primary: #f8fffe;
$bg_secondary: #e3f2f1;
$bg_black: #052727;
$primary: #016257;
$secondary: #e36d0c;
$wh: #fff;
// MainColors

// UniqueColors